<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bandit</title>
</head>
<p><b>Bandit</b></p>
<body>
<p>Hello, you've come across a Bandit! Pay 150 credits or choose another option below:</p>
<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fcomps.canstockphoto.com%2Fbandit-eps-vectors_csp27945738.jpg&imgrefurl=https%3A%2F%2Fwww.canstockphoto.com%2Fbandit-27945738.html&docid=9YE7qQGq8Fc-1M&tbnid=w6zphYXb6BxG7M%3A&vet=10ahUKEwjr48mSkNvlAhXis1kKHVoZBC8QMwh7KBkwGQ..i&w=337&h=470&safe=active&bih=657&biw=1366&q=bandit%20graphic&ved=0ahUKEwjr48mSkNvlAhXis1kKHVoZBC8QMwh7KBkwGQ&iact=mrc&uact=8"
width="270" height="180" alt="Bandit Harold"></a>
<a href="{{ url_for('bandit_pay') }}"><button type="button">Pay</button></a></body>
<a href="{{ url_for('bandit_flee')}}"><button type="button">Flee</button></a></body>
<a href="{{ url_for('bandit_fight')}}"><button type="button">Fight</button></a></body>
</html>