<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You Lost!</title>
</head>
<body>
<p>You lost the negotiation with the Trader!</p>
He now wants 13 credits for the water. You can choose from the options below.
<p>    </p>
<a href="{{ url_for('trader_buy') }}"><button type="button">Buy items</button></a></body>
<a href="{{ url_for('trader_ignore') }}"><button type="button">Ignore</button></a></body>
<a href="{{ url_for('trader_rob') }}"><button type="button">Rob the trader</button></a></body>
</body>
</html>