<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Police</title>
</head>
<p><b>Police</b></p>
<body>
<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.freevector.com%2Fuploads%2Fvector%2Fpreview%2F29440%2FOutstanding-Police-Officer-Vectors-3.jpg&imgrefurl=https%3A%2F%2Fwww.freevector.com%2Foutstanding-police-officer-vectors-29440&docid=i8beFfcoJDuHwM&tbnid=w7eu6vDP8NJsQM%3A&vet=10ahUKEwiO0oTij9vlAhUnwlkKHXV7AqEQMwhnKAMwAw..i&w=1136&h=936&safe=strict&bih=657&biw=1366&q=police%20graphic%20&ved=0ahUKEwiO0oTij9vlAhUnwlkKHXV7AqEQMwhnKAMwAw&iact=mrc&uact=8"
width="270" height="180" alt="Officer George"></a>
<p>Hello, you've come across a Police! I see that you have stolen a:</p>
<p>{{stolen_item}}</p>
<p>Forfeit this item or choose another option below:</p>
<a href="{{ url_for('police_forfeit') }}"><button type="button">Forfeit</button></a></body>
<a href="{{ url_for('police_flee')}}"><button type="button">Flee</button></a></body>
<a href="{{ url_for('police_fight')}}"><button type="button">Fight</button></a></body>
</html>