<!DOCTYPE html>
<html>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>
<script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
<head>
	<title>Welcome!</title>

<!--	<meta charset="UTF-8">-->
</head>
<body>
 Welcome to Space Traders! Get ready to go out of this world...
 <p>
      <a href="/login"><button>Start</button></a>
 </p>
 </body>

</html>
